@inherits LayoutComponentBase
@using PocketMapApp.Services
@inject AuthStateService AuthState
@implements IDisposable

<div class="page">
    <!-- checking authentication -->
    @if (AuthState.CurrentUser != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        AuthState.OnAuthStateChanged += StateHasChanged; //changing the state
    }

    public void Dispose()
    {
        AuthState.OnAuthStateChanged -= StateHasChanged; //changing the state
    }
}