@using PocketMapApp.Services
@inject AuthStateService AuthState
@implements IDisposable

<style>
    .navbar {
        background: linear-gradient(to bottom, #2b2b2b, #464646);
        height: 100%;
        align-items: start;
        width: 100%;
    }

    .btn-logout {
        border: #eaeaea solid 2px;
        color: #eaeaea;
        background: none;
        border-radius: 15px;
    }

        .btn-logout:hover {
            scale: 1.1;
            animation-duration: 3s;
            color: #eaeaea;
        }
</style>

@if (AuthState.CurrentUser != null)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">PocketMap</a>
        </div>
    </div>
    <div class="navbar">
        <nav class="flex-column gap-5">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-transaction">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Transaction
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-debt">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Debt
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="transactionHistory">
                    <span class="oi oi-person" aria-hidden="true"></span> Transaction History
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="debtDetail">
                    <span class="oi oi-person" aria-hidden="true"></span> Debt Details
                </NavLink>
            </div>
            <div class="nav-item px-3 mt-5">
                <button class="nav-link btn-logout" @onclick="HandleLogout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </button>
            </div>
        </nav>
    </div>
}

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized()
    {
        AuthState.OnAuthStateChanged += StateHasChanged;
    }

    private void HandleLogout()
    {
        AuthState.Logout();
        NavigationManager.NavigateTo("/");
    }

    public void Dispose()
    {
        AuthState.OnAuthStateChanged -= StateHasChanged;
    }
}